$offcanvas: 240px;

.builder {
  min-height: 100vh;
  overflow-x: hidden;

  &-header {
    padding: 25px 10px;
    font-size: 14px;
    
    &-title {
      color: $white;
      font-size: 20px;
    }

    &-filter {
      margin-top: 20px;

      &-input {
        background-color: transparent;
        border: 0;
        &, &::placeholder {
          color: white
        }
      }

      &-icon {
        vertical-align: middle;
        height: 10px;
        margin-right: 2px;
      }
    }
  }

  &-header {
    background: linear-gradient(to right, rgba(#8457F7,1) 0%,rgba($maincolor,1) 100%);
  }

  &.collapsed {
    .builder-wrapper {
      transform: translateX(0);
    }
    .builder-diet-toggler-icon {
      transform: rotate(0deg);
    }
  }
  
  .builder-wrapper {
    transform: translateX($offcanvas);
    transition: transform $faster $easing;
  }

  &-foods {
    position: absolute;
    left: -$offcanvas;
    width: $offcanvas;
    height: 100vh;
    overflow: auto;
    padding: 5px 0;
  }

  &-diet {
    border-left: solid 5px $basecolor-lighter;
    padding: 10px 5px;

    &-list > li:not(:first-child) {
      margin-top: 15px;
    }
    
    &-meals {
      > li {
        border: solid 1px $basecolor-lighter;
        padding: 10px;
        background-color: $white;
        margin: 5px 0;
      }
    }

    &-toggler {
      position: relative;
      margin-top: -5px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        bottom: 10px;
        width: 3px;
        background-color: $basecolor;
      }
      &-icon {
        height: 32px;
        padding: 10px;
        display: block;
        transform: rotate(180deg);
        transition: transform $faster $easing;
        position: relative;
      }
    }
  }

  .diet-item {
    display: flex;
    align-content: center;
    align-items: center;
    height: 59px;
  }

  .diet-food-summary {
    min-width: 0;
    margin-bottom: 0;
  }
}
