$offcanvas: 240px;
$headerHeight: 90px;
$bannerHeight: 170px;

.builder {
  display: grid;
  grid-template-rows: $bannerHeight minmax(0, 1fr);
  user-select:none;

  .builder-wrapper {
    display: grid;
    grid-template-columns: $offcanvas minmax(0, 1fr);

    .builder-foods {
      max-height: calc(100vh - (#{$headerHeight} + #{$bannerHeight}));
      overflow-y: auto;
      margin: 5px 0;
      border-right: solid 5px $basecolor-lighter;
      position: relative;

      .diet-item {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        height: 59px;

        .diet-food-summary {
          min-width: 0;
          margin-bottom: 0;
        }
      }
    }

    .builder-diet {
      max-height: calc(100vh - (#{$headerHeight} + #{$bannerHeight}));
      padding: 10px 5px;
      overflow-y: auto;
      position: relative;

      &-list {
        padding-bottom: 30px;

        > li:not(:first-child) {
          margin-top: 15px;
        }
      }

      &-meals {
        position: relative;
        margin-top: 10px;

        .diet-food-summary {
          margin-bottom: 5px;
        }

        > li {
          margin: 5px 0;

          &.diet-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .diet-item-cross {
              margin-left: 5px;
              padding: 8px;
              height: 28px;
              width: 28px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              border-radius: 50%;
              background: $maincolor;
            }
          }

          &.empty {
            color: $basecolor-light;
            display: flex;
            align-items: center;
            min-height: 60px;
            border: solid 1px $basecolor-lighter;
            padding: 10px;
            background-color: $white;
          }
        }

        &.canDrop:before {
          content: "";
          position: absolute;
          top: -5px;
          left: -5px;
          right: -5px;
          bottom: -5px;
          background-color: rgba($maincolor, 0.2);
          border: dashed 2px rgba($maincolor, 0.5);
          border-radius: 4px;
          z-index: 1;
        }

        &.isOver {
          cursor: copy;
          &:before {
            background-color: rgba($maincolor, 0.5);
            border: dashed 2px $maincolor;
          }
        }
      }

      &-toggler {
        position: relative;
        margin-top: -5px;
        margin-bottom: 10px;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 10px;
          bottom: 10px;
          width: 3px;
          background-color: $basecolor;
        }
        &-icon {
          cursor: pointer;
          height: 40px;
          width: 36px;
          padding: 10px;
          display: block;
          transform: rotate(180deg);
          transition: transform $faster $easing;
          position: relative;
        }
      }
    }
  }

  &.collapsed {
    .builder-wrapper {
      grid-template-columns: 0px minmax(0, 1fr);
    }

    .builder-diet-toggler-icon {
      transform: rotate(0deg);
    }
  }
}
