.builder-header {
  padding: 25px 10px;
  font-size: 14px;
  background: linear-gradient(to right, rgba(#8457F7,1) 0%,rgba($maincolor,1) 100%);

  &-title {
    color: $white;
    font-weight: $book-weight;
    font-size: 34px;
    line-height: 30px;
    p {
      font-weight: $black-weight;
      margin-left: 1px;
    }
  }

  &-filter {
    margin-top: 20px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-input {
      min-width: 200px;
      text-overflow: ellipsis;
      background-color: transparent;
      border: 0;
      font-size: 14px;
      color: $white;
      &::placeholder {
        color: rgba($white, 0.7);
      }
    }

    label {
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      &:before {
        content: "";
        z-index: 1;
        position: absolute;
        left: calc(50% - 8px);
        top: calc(50% - 8px);
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }

      &.checkbox-p:before {
        background-color: #EE0D6E;
      }
      &.checkbox-ch:before {
        background-color: #8457F7;
      }
      &.checkbox-f:before {
        background-color: #B0FF01;
      }

      &.active:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($maincolor, .4);
        border-radius: 50%;
        box-shadow: inset 6px 6px 5px 0 rgba($black, 0.2), inset -6px -6px 5px 0 rgba($white, 0.3);
      }
    }

    &-checkbox {
      position: absolute;
      opacity: 0;
      left: -99999px;
    }

    &-icon {
      vertical-align: middle;
      height: 14px;
      margin-right: 4px;
    }
  }
}
