.diet {
  display: none;

  &.active {
    display: block;
  }
  
  &-title {
    font-weight: $bold-weight;
    text-align: right;
    margin: 0 5px 0 5px;
    padding: 10px;
    background-color: $white;
    border: solid 1px $basecolor-lighter;
    border-radius: 2px;
    color: $basecolor;
    &-macros {
      margin-left: 5px;
      font-weight: $book-weight;
      font-size: 13px;
      border-radius: 20px 0 20px 0;
      line-height: 16px;
      color: $basecolor-light;
      > * {
        margin-left: 10px;
        &:before {
          content: "";
          display: inline-block;
          margin-right: 4px;
          width: 8px;
          height: 10px;
          border-radius: 6px 0 6px 0;
        }
      }

      &-p:before {
        background-color: #EE0D6E;
      }
      &-ch:before {
        background-color: #8457F7;
      }
      &-f:before {
        background-color: #B0FF01;
      }
    }
  }
  
  &-item {
    position: relative;
    border: solid 1px $basecolor-lighter;
    border-radius: 2px;
    margin: 5px;
    padding: 10px 10px 10px 60px;
    background-color: $white;
    transition: all $fast $easing;

    &.active {
      background-color: rgba($maincolor, 0.2);
      border-color: rgba($maincolor, 0.5);
      &:after {
        background-color: $white;
      }
    }

    &.dragging {
      background-color: rgba($maincolor, 0.2);
      border: dashed 2px rgba($maincolor, 0.5);
      box-shadow: 0 0 4px 2px rgba($maincolor, 0.5);
      z-index: 1;
    }

    &:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      border-radius: 50%;
      width: 37px;
      height: 37px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 17px;
      top: 17px;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      background: $white;
    }

    &:first-child:before {
      background-color: $maincolor;
    }
    &:nth-child(2):before {
      background-color: rgba($maincolor, 0.85);
    }
    &:nth-child(3):before {
      background-color: rgba($maincolor, 0.7);
    }
    &:nth-child(4):before {
      background-color: rgba($maincolor, 0.55);
    }
    &:nth-child(5):before {
      background-color: rgba($maincolor, 0.4);
    }
    &:nth-child(6):before {
      background-color: rgba($maincolor, 0.25);
    }
    &:nth-child(7):before {
      background-color: rgba($maincolor, 0.1);
    }


  }

  &-name {
    cursor: pointer;
    font-size: 13px;
    font-weight: $bold-weight;
  }

  &-food {
    &-cals {
      margin-left: 4px;
      font-weight: $book-weight;
      color: $basecolor-light;
    }

    &-summary {
      margin-bottom: 5px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;

      &-drag {
        cursor: move;
        padding: 10px;
        margin-right: -10px;
        height: 37px;
        width: 37px;
      }
    }

    &-detail {
      font-size: 0.95em;
      color: $basecolor-light;
      margin: 2px 0 0 10px;
      &-empty {
        position:relative;
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          left: -4px;
          right: -4px;
          top: calc(50% - 1px);
          background-color: rgba($maincolor, 0.5);
          height: 4px;
          z-index: -1;
        }
      }
      
      &.withLightbox {
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 3px;
          background: linear-gradient(to right, rgba(#8457F7,1) 0%,rgba($maincolor,1) 100%);
        }
      }
    }
  }
}
