// Global vars used in common pages
$easing: cubic-bezier(0.190, 1.000, 0.220, 1.000);

//Global colors
$white: #FFFFFF;
$black: #000000;

$slow: 2s;
$fast: 1s;
$faster: 0.5s;
$fastest: 0.3s;

$bold-weight: 700;
$book-weight: 400;


// Colors
$basecolor: #212121;
$basecolor-light: #888888;
$basecolor-lighter: #F3F4F4;

$background: #FAFBFD;

$maincolor: #64FFDA;

$secondarycolor: #F8BBD0;

// Fonts
$mainfont: "Lato", sans-serif;
